body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.factura-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 400px;
}

.factura-container h2 {
    margin-bottom: 20px;
}

.factura-detalle {
    text-align: left;
    margin-bottom: 20px;
}

.factura-total {
    font-size: 18px;
    font-weight: bold;
}

.boton-volver {
    background: #28a745;
    align-items: center;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 95%;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}